name: Auto Vocabulary Update

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '.gitignore'
      - '.gitattributes'
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - '.gitignore'
      - '.gitattributes'
      - 'README.md'
      - 'LICENSE'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  action:
    name: Vocabulary Update Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Python 3.12 Environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: requirements.txt
      - name: Install Python Dependencies
        run: pip install -r requirements.txt
      - name: Run Vocabulary Update Script
        run: python scripts/main.py
      - name: Commit and Push Updated Vocabulary
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "[bot] automatic vocabulary updates"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          file_pattern: data/config.json data/**/*.json
